/*
################################################################################################
               Navigation 
################################################################################################
*/
.container{
    max-width: inherit;
}
header {
  width: 100%;
  padding: 15px 0px 8px 0px;
  background-color: #a7a7a9; 
  box-shadow: 0 2px 10px #cecece;
  position: fixed;
  z-index: 500;
    color:#fff;
}

  .branding {
    background: url("../images/Assets/Logo/RatpackMusic.svg") no-repeat;
    width:139px;
    float:left; 
    height: 50px;
    display: block; 
    text-indent: -999em; 
  }


nav{
  text-align: right; 

}
nav ul{ 
  list-style-type: none; 
  text-align: right; 
}
nav li{
    
  font-weight: 900; 
  font-size: .8em; 
  letter-spacing: .1em; 
  text-transform: uppercase; 
  display: inline-block; 
  padding-left: 10px; 
  cursor: pointer; 
    padding-top: 15px;
     
}
nav li a:link{
  color: #FCC851;
  text-decoration: none; 
}
nav li a:visited{
  color: #FCC851;
  text-decoration: none; 
}
nav li a:hover{
  color: #FCC851;
  text-decoration: none; 
}
nav li a:active{
  color: #FCC851;
  text-decoration: none; 
}
.history{
  margin-top: 77px;
}
.history .timeline .members .playlist .contact{
  width: 100%;
  padding: 100px 0;
}
.history .timeline .members{
  background: lightgray;
  
}
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/*
################################################################################################
               Hero Image
################################################################################################
*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;

  padding: 0px;
  margin-top: 50px;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: inline-block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



.hero-slide {
  margin-bottom: 79px;
  width: 100%;
  float: left;
  box-shadow: 9px 2px 5px 2px (0,0,0,0.12);
background: #0a0908;

}

.title{
    width: 100%;
height: auto;
font-family: "Kepler Std";
font-weight: 600;
font-style: italic;
font-size: 50px;
line-height: 50px;
text-align: center;
color: #fff;
text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin-top: 20px;
    display: inline-block;

}
.caption{
    width: 100%;
height: 24px;
font-family: "Kepler Std";
font-weight: 600;
font-style: italic;
font-size: 13px;
line-height: 32px;
text-align: center;
color: #fff;
   

}



/*
################################################################################################
               section 1 History
################################################################################################
*/

.history {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;
}

.carousel-cell{
  width: 100%;
  height: auto;
  background: #fff;
  counter-increment: carousel-cell;
  text-align: center;
}
.history, p {
    
font-family: Kefa;
font-weight: normal;
font-size: 16px;
text-align: left;
color: #0a0908;
background: #fff;
}
/*
################################################################################################
               TimeLine
################################################################################################
*/

@import url("https://fonts.adobe.com/fonts/kepler?src=GoogleFonts#packages-section");
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  position: relative;

}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: .4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "oxygen", sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: kefa;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "oxygen", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: .3s all .2s;
  opacity: 1;
}
.timeline-item--active.timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 60px;
  font-family: Kepler Std;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: oxygen;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: "kefa";
}


/*
################################################################################################
               Members
################################################################################################
*/
.members {
    align-content: center;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    
  
}
 figure{ display: block; margin: 19px;}
  
  body {
    color: #000;
   
  }
.members h1{
    color: #000;
}
  h1 {
    font-family: "Kepler std";
    font-size: 60px;
    margin: 20px 0 0 0;
    text-align: center;

  }
h5{
position: relative;
bottom: 70px;
}

  p {
    padding-top: 20px;
    padding-left: 80px;
    color: #222;
    font-family: 'oxygen';
    font-weight: 'regular';
     width:771px;
    text-align: center;
    -size: 24px;
  }
    
  .members img {
    display: block;
    width: 297px;
    height: 398px;
  }
  
 .members.wrapper {
    overflow: hidden;
    width: 840px;
    margin: 0 auto;
    padding-top:14px;
   }

  .box {
    display:inline;
    position: relative;
    float: left;
    margin-left: 19px;
    margin-right: 0px;
    cursor: pointer;
    -webkit-box-shadow: #0a0908;
    -moz-box-shadow: #0a0908;
    box-shadow: #0a0908;
 
  }
  
  .box:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0a0908;
    opacity: 0.5;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  .box h5
{
  position:absolute;
  top:85%;
    width:218px;
    height:40px;
  text-align:left;
  padding-left:5px;
  color:#fff;
  font-size:20px;
  background: #a7a7a9;
    
  line-height:2.2;
  font-family: sans-serif;

   
}
  .box:hover:before {
    background: none;
  }
  
  .b2:before {
    background: #0a0908;
  }
   .box img {
     height:398px;
     width:297px;
}
  .b3:before {
    background: #0a0908;
  }
  
  .b4:before {
    background: #0a0908;
  }
  
  .b5:before {
    background: #0a0908;
  }
  
  .b6:before {
    background: #0a0908;
  }

.members.container {
  position: relative;
  width: 100%;
}

.members.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bfc3ba;
  opacity: 0.5;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.box:active .overlay {
  width: 100%;
 
}
.text {
  white-space:pre-wrap;
  font-family:kefa; 
  color: #000;
  font-size: 16px;
  padding: 10px;
}
/*
################
               playlist
################
*/
.playlist{
    background-color: #a7a7a9;
    align-content: center;
}
.playlist.container{
    max-width: 600px;
  min-width: 520px;
}
.playlist p{
    color:#fff;
    background: #a7a7a9;
}
.playlist h2{
    font-family: "kepler std", sans-serif;
    text-align:center;
  font-weight: 300;
color:#fff;
}


/*
################################################################################################
               contact
################################################################################################
*/
.contact{
    background-color: #fff;
    padding-top: 50px;
}
div  textarea  input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact.container {
  max-width: 600px;
  min-width: 520px;
  margin: 50px auto 0px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid #ccc;
  background: url(https://images2.imgbox.com/a5/2e/m3lRbCCA_o.jpg) left -80px;
  color: #fff;
}
.row.body {
  padding: .5em 2.5em 1em;
}

.pull-right {
  float: right;
}

.contact  h1 {
  font-family: "kepler std", sans-serif;
    text-align:center;
  font-weight: 300;
color:#fff;
  display: inline-block;
  font-weight: 100;
  font-size: 2.8125em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

.contact  h3 {
  font-family: "oxygen";
    color: #fff;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0 0.4em 0;
}

.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn.btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
.btn.btn-submit:hover {
  background-color: #5f7db6;
}

form {
  max-width: 100%;
  display: block;
}
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
form ul li:last-child {
  margin: 0;
}
form ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
form ul li p.right {
  float: right;
}
form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
form ul li.req {
  color: #ee9cb4;
}
form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
}
form small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}

@media only screen and (max-width: 480px) {
  .pull-right {
    float: none;
  }

  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  li  p {
    width: 100%;
  }

  input.btn {
    margin: 1.5em 0 0.5em;
  }

 .contact  h1 {
    font-size: 2.25em;
  }

 .contact  h3 {
    font-size: 1.125em;
  }

  li small {
    display: none;
  }
}


