/*
################################################################################################
               Navigation 
################################################################################################
*/@import
.container{
    max-width: inherit;
}
header {
 width: 100%;
  padding: 15px 0px 8px 0px;
  background-color: #8C3636; 
  box-shadow: 0 2px 10px #cecece;
  position: fixed;
  top: 0;
  z-index: 500;
}


  .branding {
    background: url("../images/Assets/Logo/RatpackMusic2.svg") no-repeat;
    width:139px;
    float:left; 
    height: 50px;
    display: block; 
    text-indent: -999em; 
  }


nav{
  text-align: right; 

}
nav ul{ 
  list-style-type: none; 
  text-align: right; 
}
nav li{
    
  font-weight: 900; 
  font-size: .8em; 
  letter-spacing: .1em; 
  text-transform: uppercase; 
  display: inline-block; 
  padding-left: 10px; 
  cursor: pointer; 
    padding-top: 15px;
    color:#fff;
     
}
nav li a:link{
  color: #FCC851;
  text-decoration: none; 
}
nav li a:visited{
  color: #FCC851;
  text-decoration: none; 
}
nav li a:hover{
  color: #FCC851;
  text-decoration: none; 
}
nav li a:active{
  color: #FCC851;
  text-decoration: none; 
}
.history{
  margin-top: 77px;
}
.history .timeline .members .playlist .contact{
  width: 100%;
  padding: 100px 0;

}
.history .timeline .members{
  background: lightgray;
  
}


.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
/*
################################################################################################
               Hero Image
################################################################################################
*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0px;
 
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: center;
  }

.rslides img {
  display: inline-block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
 height: 600px;
  }



.hero-slide {
  margin-bottom: 79px;
  width: 100%;
  float: left;
  box-shadow: 9px 2px 5px 2px (0,0,0,0.12);


}
.item-1 {
	    position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
    padding-top: 20px;
  display: block;
height: auto;
font-family: "Kepler Std";
font-weight: 600;
font-style: italic;
font-size: 25px;
line-height: 35px;
text-align: center;
color: #fff;
    
}

.item-1 button{
  display: inline-block;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  color:#8C3636;
  border-radius: 4px;
  border: none;
  text-decoration: none;
   
  padding-right: 5px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 10px;
  text-align: center;
  float: center; 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}








/*
################################################################################################
               section 1 History
################################################################################################
*/

.history {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;
}
.history h2{
    text-align: center;
    font-family: "Kepler Std";
font-weight: 600;
font-style: italic;
font-size: 60px;
    color:#8C3636;
    
}
.hat{
    padding: 5px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  transition: transform .5s ease-in-out;
  
}

.hat:hover{
  transform:rotate(360deg);

}
.carousel-cell{
  width: 100%;
  height: auto;
  background: #fff;
  counter-increment: carousel-cell;
  text-align: center;
    
}
.history p {
    
font-family: Kefa;
font-size: 16px;
text-align: left;
color: #0a0908;
background: #fff;
    margin-top: 50px;
}
/*
################################################################################################
               TimeLine
################################################################################################
*/

.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 820px;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: .4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: "oxygen", sans-serif;
  color: #fff;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  font-family: kefa;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "oxygen", sans-serif;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: .3s all .2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.8);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 60px;
  font-family: Kepler Std;
  font-weight: normal;
  margin: 0;
    text-shadow: #FC0 1px 0 10px;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: oxygen;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}


button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}/*# sourceMappingURL=normalize.min.css.map */

/*
################################################################################################
               Members
################################################################################################
*/
.members {
    align-content: center;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
   margin-left: 260px;
    
    
  
}
 .members figure{ display: block; margin: 19px;
}
  
  .members body {
    color: #000;
   
  }
.members h1{
    
    font-family: "Kepler Std";
font-weight: 600;
font-style: italic;
font-size: 60px;
 margin-left:120px;
    color:#8C3636;
}
 
.members h5{
position: relative;
bottom: 70px;
}

  .members p {
   
    padding-left: 10px;
    color: #222;
    font-family: 'oxygen';
    font-weight: 'regular';
     width:771px;
    text-align: left;
    -size: 24px;
  }
    
  .members img {
    display: block;
    width: 297px;
    height: 398px;
  }
  
 .members.wrapper {
    overflow: hidden;
    width: 840px;
    margin: 0 auto;
    padding-top:14px;
     
   }

  .box {
    display:inline;
    position: relative;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    -webkit-box-shadow: #0a0908;
    -moz-box-shadow: #0a0908;
    box-shadow: #0a0908;
 
  }
  
  .box:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0a0908;
    opacity: 0.5;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }
  .box h5
{
  position:absolute;
  top:85%;
    width:218px;
    height:40px;
  text-align:left;
  padding-left:5px;
  color:#fff;
  font-size:20px;
  background: #a7a7a9;
    
  line-height:2.2;
  font-family: sans-serif;

   
}
  .box:hover:before {
    background: none;
  }
  
  .b2:before {
    background: #0a0908;
  }
   .box img {
     height:398px;
     width:297px;
}
  .b3:before {
    background: #0a0908;
  }
  
  .b4:before {
    background: #0a0908;
  }
  
  .b5:before {
    background: #0a0908;
  }
  
  .b6:before {
    background: #0a0908;
  }

.members.container {
  position: relative;
  width: 100%;
}

.members.image {
  display: block;
  width: 100%;
  height: auto;
}

.members .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bfc3ba;
  opacity: 0.5;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.box:active .overlay {
  width: 100%;
 
}
.text {
  white-space:pre-wrap;
  font-family:kefa; 
  color: #000;
  font-size: 16px;
  padding: 10px;
}
/*
################################################################################################
               playlist
################################################################################################
*/
.playlist{
    background-image: url("../images/Assets/Playlist/bha-vegas.jpg");
    align-content: center;
    padding:80px;
    
}
.playlist.container{
    max-width: 600px;
  min-width: 520px;
    
}
.playlist p{
    color:#fff;
    margin-top: 20px;
    padding-left: 50px;
}
.playlist h2{
   text-align: center;
    font-family: "Kepler Std";
font-weight: 600;
font-style: italic;
font-size: 60px;
color:#fff;
text-shadow: #FC0 1px 0 10px;
}
iframe{
    margin-left: 160px;
}

/*
################################################################################################
               contact
################################################################################################
*/
.contact{
    background-color: #fff;
    padding-top: 50px;
      margin-bottom: 50px;
}
div  textarea  input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact .container {
  max-width: 600px;
  min-width: 520px;
  margin: 50px auto 0px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc;
}

.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid #ccc;
  background: url(../images/Assets/Contact/contact.jpg) left -80px;
  color: #fff;
    text-align: center;
}
.row .body {
  padding: .5em 2.5em 1em;
}

.pull-right {
  float: right;
}
.left{
    float:left
}

.contact  h1 {
  font-family: "kepler std", sans-serif;
    text-align:center;
  font-weight: 300;
color:#fff;
  display: inline-block;
  font-weight: 100;
  font-size: 2.8125em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

.contact  h3 {
  font-family: "oxygen";
    color: #fff;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0 0.4em 0;
}

.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.btn:hover {
  background-color: #bfbfbf;
}
.btn .btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
.btn .btn-submit:hover {
  background-color: #5f7db6;
}

form {
  max-width: 100%;
  display: block;
  
}
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
form ul li:last-child {
  margin: 0;
}
form ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
form ul li p .right {
  float: right;
}
form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
form ul li .req {
  color: #ee9cb4;
}
form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
}
form small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}

@media only screen and (max-width: 480px) {
  .pull-right {
    float: none;
  }

  input {
    width: 100%;
  }

  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  li  p {
    width: 100%;
  }

  input.btn {
    margin: 1.5em 0 0.5em;
  }

 .contact  h1 {
    font-size: 2.25em;
  }

 .contact  h3 {
    font-size: 1.125em;
  }

  li small {
    display: none;
  }
}

/*
################################################################################################
               Footer
################################################################################################
*/
.footer{
    width: 100%;
  background-color: #8C3636; 
  box-shadow: 0 2px 10px #cecece;
  height: auto;
}


.footer p{
    font-family: "oxygen", sans-serif;
    font-size: 16px;
    float: left;
    padding: 20px;
    color: white;
    
}

.icon{
    max-height: 50px;
    max-width: 50px;
    float: right;
    padding: 10px;
    

}