#timeline-1.timeline-container
  .timeline-header
    h2.timeline-header__title Rat Pack Through the Ages
    h3.timeline-header__subtitle "The whole world is drunk and we're just the cocktail of the moment"
    
  .timeline
  
  
  
    .timeline-item(data-text='Early Years of Dean and Peter')
      .timeline__content
        img.timeline__img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/2314931/Peter_and_Dean.jpg')
        h2.timeline__content-title
          | 1930's
        p.timeline__content-desc
          | 1931:Peter Lawford’s film debut was at age 8 in the British film Poor Old Bill<br>1983:Dean Martin began touring with Watkins
          
          
          
    .timeline-item(data-text='Decade of Dean')
      .timeline__content
        img.timeline__img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/2314931/Dean_martin.jpg')
        h2.timeline__content-title 1940's
        p.timeline__content-desc
          |1940:>Dean Martin chnages his name from Dino Paul Crocetti to Dean Martin <br>1943:Dean Martin signed an exclusive contract with MCA to sing at the Riobamba Room in New York<br>1946:Dean Martin signed a contract and recorded four songs with Diamond Records<br>1947:Sammy Davis Jr’s career began to rise to new heights in 1947 when the trio opened for Frank Sinatra at the Capitol Theatre in New York.
          
          
          
    .timeline-item(data-text='Rise of Sammy Davis Jr.')
      .timeline__content
        img.timeline__img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/2314931/sammy_davis_jr.jpg')
        h2.timeline__content-title 1950's
        p.timeline__content-desc
          |1950:Joey Bishop started a friendship with Frank Sinatra, which resulted in Bishop’s inclusion in the Rat Pack<br>1954: Sammy Davis Jr. Signed with Decca Records<br>1955:Sammy Davis Jr. first two albums,“Starring Sammy Davis Jr.” and “Sammy Davis Jr. Sings Just for Lovers”, were released to both critical acclaim and commercial success.
          
    .timeline-item(data-text='Sinatra and the Rat Pack')
      .timeline__content
        img.timeline__img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/2314931/Frank.png')
        h2.timeline__content-title 1960's
        p.timeline__content-desc
          |1960:Rat Pack stars in Ocean’s Eleven<br>1961: Lawford and Sinatra had a falling out in 1961 over brother-in-law Robert Kennedy’s objections to Sinatra’s alleged Mafia connections<br>1962: Rat Pack Stars in Sergeants 3<br>1964:Rat Pack stars in Seven Hoods<br>1964: Dean Martin recorded his blockbuster hit, “Everybody Loves Somebody,”<br>1965:Frank Sinatra receives Achievement Award and headlined the 1965 Newport Jazz Festival with Count Basie’s Orchestra. This period also marked his Las Vegas debut<br1966:Frank Sinatra had a big hit in 1966 with the Billboard No. 1 track “Strangers in the Night,” which won a Grammy for record of the year<br>1967:Frank Sinatra’s duet “Something Stupid” with daughter Nancy, No. 1 for four weeks with “Something Stupid” in spring 1967
    
