
.icon-eye:before { content: '\e800'; } /* '' */
.icon-tint:before { content: '\e801'; } /* '' */
.icon-shareable:before { content: '\e802'; } /* '' */
.icon-moon:before { content: '\e803'; } /* '' */
.icon-clouds-flash-alt:before { content: '\e804'; } /* '' */
.icon-af-icon:before { content: '\e805'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-qq:before { content: '\f1d6'; } /* '' */